
@{
    ViewBag.Title = "Chính Sách Ưu Đãi Tháng 10 Dự Án Khai Sơn City";
    ViewBag.Image = "/public/client/imgs/logo-khai-son.png";
    ViewBag.Keywords = "Dự án Khai Sơn Town | Công ty CP Khai Sơn và Công ty Cenland";
    Layout = "~/Views/Shared/_LayoutContents.cshtml";
}
<link href="~/public/client/css/contents.css" rel="stylesheet" />
<div class="container mt_50 mb_50" style="transform: none;margin-top:10px;">
    <div class="fl-row row right-sidebar" style="transform: none;">

        <div id="main-content" class="col-lg-9 col-md-9 col-sm-8 col-xs-12">

            <article id="post-775" class="single-post post-775 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc-du-an">
                <h4 class="post-category"><a href="/" title="Trang chủ" class="widget-title">Trang chủ</a></h4>
                <h1 class="post-title entry-title">
                    Chính Sách Ưu Đãi Tháng 10 Dự Án Khai Sơn City
                </h1>
                <div class="entry-content mb_40">
                    <p>Tháng 10/2018, Chủ đầu tư chính thức mở bán đợt 1 những căn nhà phố thương mại <strong>Khai Sơn Town</strong>. Giá dao động chỉ từ <span style="color: #ff0000;"><strong>75 triệu/m2</strong></span>.</p>
                    <p><img style="width:100%;height:100%" src="~/public/client/imgs/banner-FB-01.png" alt="Banner khai sơn city" width="900" height="471" srcset="~/public/client/imgs/banner-FB-01.png 900w, ~/public/client/imgs/banner-FB-01-300x157.png 300w, ~/public/client/imgs/banner-FB-01-768x402.png 768w" sizes="(max-width: 900px) 100vw, 900px"></p>
                    <p><em><strong>Chính sách bán hàng:</strong></em></p>
                    <ul>
                        <li>Miễn <span style="color: #ff0000;"><strong>3 năm</strong></span> phí dịch vụ.</li>
                        <li>Hỗ trợ <strong><span style="color: #ff0000;">vay vốn 65%</span></strong> giá trị căn nhà&nbsp;với <span style="color: #ff0000;"><strong>lãi suất 0%</strong></span> trong 2 năm</li>
                        <li>Ân hạn nợ gốc trong 2 năm.</li>
                        <li>Miễn phí trả nợ trước hạn.</li>
                        <li>Khách hàng thanh toán sớm được <span style="color: #ff0000;"><strong>chiết khấu 1,2%</strong></span> trên số tiền thanh toán sớm.</li>
                        <li>Vậy với số vốn khoảng<span style="color: #ff0000;"><strong> 2.5 tỷ</strong></span>, anh/chị có thể mua đầu tư căn nhà phố trong vòng 2 năm không phải trả lãi ngân hàng.</li>
                    </ul>
                    <p><em><strong>Tiến độ thanh toán Khai Sơn City:</strong></em></p>
                    <ul>
                        <li>Đợt 1: Đóng <span style="color: #ff0000;"><strong>25%</strong></span> giá bán nhà ở và thuế ngay khi ký HĐMB</li>
                        <li>Đợt 2: Đóng <span style="color: #ff0000;"><strong>10%</strong></span> giá bán nhà ở và thuế sau <strong>3 tháng</strong> kể từ đợt 1</li>
                        <li>Đợt 3: Đóng <span style="color: #ff0000;"><strong>10%</strong></span> giá bán nhà ở và thuế sau <strong>3 tháng</strong> kể từ đợt 2</li>
                        <li>Đợt 4: Đóng <span style="color: #ff0000;"><strong>10%</strong></span> giá bán nhà ở và thuế sau <strong>3 tháng</strong> kể từ đợt 3</li>
                        <li>Đợt 5: Đóng <span style="color: #ff0000;"><strong>10%</strong></span> giá bán nhà ở và thuế sau <strong>3 tháng</strong> kể từ đợt 4</li>
                        <li>Đợt 6: Đóng <span style="color: #ff0000;"><strong>10%</strong></span> giá bán nhà ở và thuế sau <strong>3 tháng</strong> kể từ đợt 5</li>
                        <li>Đợt 7: Đóng <span style="color: #ff0000;"><strong>10%</strong></span> giá bán nhà ở và thuế sau<strong> 3 tháng</strong> kể từ đợt 6</li>
                        <li>Đợt 8: Đóng <span style="color: #ff0000;"><strong>10%</strong></span> giá bán nhà ở và thuế sau <strong>3 tháng</strong> kể từ đợt 7</li>
                        <li>Đợt 9: Đóng&nbsp; <span style="color: #ff0000;"><strong>5%</strong></span> giá bán nhà ở và thuế khi có thông báo về cấp giấy chứng nhận quyền sử dụng đất.</li>
                    </ul>
                    <p>Vài năm trở lại đây quận Long Biên đang có tốc độ phát triển rất nhanh. Với vị trí đắc địa ngay sát Quận Hoàn Kiếm, thoả mãn nhu cầu rất bức bối của người dân Phố Cổ với mong mỏi về một nơi sống: Phải gần Phố Cổ, gần trung tâm, nhưng cũng phải tiện nghi thoải mái, sống không quá chật chội, bí bách. Hàng loạt quy hoạch đường sá, cầu cống, khu vui chơi giải trí, khu nhà biệt thự sang trọng lần lượt mọc lên như nấm tại Quận Long Biên khiến cho giá BĐS nơi đây trở nên sôi động và thay đổi từng ngày.</p>
                    <p>Ví dụ điển hình là khu đô thị đoạn đường Cổ Linh. Năm 2016 giá ở đây rơi vào độ 60 triệu/m2. Đến nay 2018 đã lên đến 120 – 130 triệu/m2.</p>
                    <p>Nắm bắt cơ hội đó, chủ đầu tư Khai Sơn kết hợp với CenLand – đơn vị phân phối BĐS hàng đầu Việt Nam thực hiện <strong>dự án Khai Sơn City</strong> tọa tạc tại mảnh đất vàng bên bờ Sông Hồng, phường Ngọc Thụy, Long Biên. Một vị trí cực hiếm có và tiềm năng:</p>
                    <ul>
                        <li>10 phút đến Phố Cổ qua cầu Long Biên, Chương Dương.</li>
                        <li>20 phút đến sân bay Nội Bài do dự án nằm ngay trên trục Quốc Lộ 5.</li>
                        <li>Hưởng lợi rất lớn từ quy hoạch của UBND TP: Dự án cầu Tứ Liên (kết nối Quảng An, Tây Hồ), dự án Trung tâm triển lãm Quốc Gia, Sun World, công viên hồ điều hòa cực lớn, tuyến đường 40.</li>
                        <li>Thuộc khu vực quy hoạch dự án quần thể công viên, không gian đô thị xanh, khu vui chơi giải trí lớn nhất Hà Nội do tập đoàn Sun Group hợp tác với Vin Group triển khai.</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p><em><strong>Thông tin tổng quan dự án Khai Sơn City:</strong></em></p>
                    <ul>
                        <li>Chủ đầu tư: Khai Sơn + CenLand.</li>
                        <li>Đơn vị thi công: Vinacomex PVC.</li>
                        <li>Đơn vị quản lý: Savills Việt Nam.</li>
                        <li>Tổng diện tích đất: 180 ha.</li>
                        <li>Mật độ xây dựng: 40%.</li>
                        <li>Bàn giao: Quý IV/2019.</li>
                        <li>Tình trạng pháp lý: Đã chính thức được cấp phép.</li>
                        <li>Hình thức sở hữu: Sổ hồng vĩnh viễn.</li>
                        <li>Sản phẩm: Nhà phố liền kề, biệt thự, chung cư cao cấp.</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p><span style="font-size: 12pt;"><strong>Qúy khách quan tâm xin liên hệ</strong></span></p>
                    <p><span style="font-size: 12pt;"><strong>Phòng kinh doanh chủ đầu tư dự án</strong></span></p>
                    <p><span style="font-size: 12pt;"><strong>Hotline: <span style="color: #99cc00;">0936 94 9191</span></strong></span></p>
                    <p><span style="font-size: 12pt;"><strong>Website chính thức: <a href="https://nhaphokhaisoncity.com" target="_blank" rel="noopener"><span style="color: #0000ff;">nhaphokhaisoncity.com</span></a></strong></span></p>
                </div>
            </article>
        </div>

        <div id="main-sidebar" class="col-lg-3 col-md-3 col-sm-4 col-xs-12" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
            <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 1074.6px;">
                <aside id="recent-posts-with-image-2" class="widget widget_recent_post_with_image">
                    <h4 class="widget-title">TIN TỨC</h4><ul class="ul1">
                        <li class="clearfix">
                            <div class="post-thumbnail pr">
                                <a href="/vi-tri-du-an-khai-son-city-long-bien.html" class="titlehr">
                                    <img src="~/public/client/imgs/vi-tri-du-an-khai-son-city.jpg" width="85" height="85" alt="Vị Trí Dự Án Khai Sơn City Long Biên">
                                </a>
                            </div>
                            <div class="post-info">
                                <h4 class="entry-title">
                                    <a href="/vi-tri-du-an-khai-son-city-long-bien.html">Vị Trí Dự Án Khai Sơn City Long Biên</a>
                                </h4>
                                <div class="entry-meta" style="font-size: 13px;">
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="post-thumbnail pr">
                                <a href="/quy-hoach-quan-long-bien-trung-tam-thi-moi-cua-ha-noi.html" class="titlehr">
                                    <img src="~/public/client/imgs/quy-hoach.jpg" width="85" height="85" alt="Quy hoạch quận Long Biên: Trung tâm đô thị mới của Hà Nội">
                                </a>
                            </div>
                            <div class="post-info">
                                <h4 class="entry-title">
                                    <a href="/quy-hoach-quan-long-bien-trung-tam-thi-moi-cua-ha-noi.html">Quy hoạch quận Long Biên: Trung tâm đô thị mới của Hà Nội</a>
                                </h4>
                                <div class="entry-meta" style="font-size: 13px;">
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="post-thumbnail pr">
                                <a href="/tien-do-xay-dung-du-an-khai-son-city-long-bien.html" class="titlehr">
                                    <img src="~/public/client/imgs/tien-do-xay-dung.jpg" width="85" height="85" alt="Tiến độ xây dựng dự án Khai Sơn City Long Biên">
                                </a>
                            </div>
                            <div class="post-info">
                                <h4 class="entry-title">
                                    <a href="/tien-do-xay-dung-du-an-khai-son-city-long-bien.html">Tiến độ xây dựng dự án Khai Sơn City Long Biên</a>
                                </h4>
                                <div class="entry-meta" style="font-size: 13px;">
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="post-thumbnail pr">
                                <a href="/chinh-sach-uu-dai-thang-10-du-an-khai-son-city.html" class="titlehr">
                                    <img src="~/public/client/imgs/chinh-sach.png" width="85" height="85" alt="Chính Sách Ưu Đãi Tháng 10 Dự Án Khai Sơn City">
                                </a>
                            </div>
                            <div class="post-info">
                                <h4 class="entry-title">
                                    <a href="/chinh-sach-uu-dai-thang-10-du-an-khai-son-city.html">Chính Sách Ưu Đãi Tháng 10 Dự Án Khai Sơn City</a>
                                </h4>
                                <div class="entry-meta" style="font-size: 13px;">
                                </div>
                            </div>
                        </li>
                    </ul>
                </aside>

            </div>
        </div>

    </div>
</div>
