
@{
    ViewBag.Title = "Vị Trí Dự Án Khai Sơn City Long Biên";
    ViewBag.Image = "/public/client/imgs/logo-khai-son.png";
    ViewBag.Keywords = "Dự án Khai Sơn Town | Công ty CP Khai Sơn và Công ty Cenland";
    Layout = "~/Views/Shared/_LayoutContents.cshtml";
}
<link href="~/public/client/css/contents.css" rel="stylesheet" />
<div class="container mt_50 mb_50" style="transform: none;margin-top:10px;">
    <div class="fl-row row right-sidebar" style="transform: none;">

        <div id="main-content" class="col-lg-9 col-md-9 col-sm-8 col-xs-12">

            <article id="post-775" class="single-post post-775 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc-du-an">
                <h4 class="post-category"><a href="/" title="Trang chủ" class="widget-title">Trang chủ</a></h4>
                <h1 class="post-title entry-title">
                    Vị Trí Dự Án Khai Sơn City Long Biên
                </h1>
                <div class="entry-content mb_40">
                    <p><strong>Dự án Khai Sơn City</strong> Nằm tại vị trí vàng của thủ đô Hà Nội, Khu đất rồng thiêng được ôm ấp bởi 2 con sông lớn là sông Hồng và sông Đuống, tựa thế “Lưu thủy hành vân” mạng lại sự sung túc, an khang thịnh vượng.</p>
                    <p>Vị trí khu đất vàng làm cho giá trị biệt thự, shophouse, liền kề nằm trên chính khu đất đó càng có giá trị theo thời gian. Thị trường BĐS tăng trưởng <span style="color: #ff0000;"><strong>12 -15%/ năm</strong></span> là điều hoàn toàn có thể xảy ra. Đầu tư đất đai là đầu tư bền vững, đầu tư cho tương lai, cho con cái. “Đầu tư sớm – sinh lời sớm” luôn là kim chỉ nam được các nhà đầu tư áp dụng.</p>
                    <p><img style="width:100%;height:100%;" src="~/public/client/imgs/vi-tri-du-an-khai-son-city1.jpg" alt="Vị trí dự án Khai Sơn City Long Biên"></p>
                    <p>Gần các khu đô thị mới như: KĐT Việt Hưng, KĐT Sài Đồng, KĐT Eurowindow RiverPark, KĐT Vinhomes Riverside…</p>
                    <p>Gần các trung tâm thương mại: AeonMall Long Biên, BigC Savico, Vincom Long Biên, …</p>
                    <p>Gần các trường học, bệnh viện: Bệnh viện đa khoa Tâm Anh, bệnh viện đa khoa Đức Giang, trường quốc tế Wellsprings, các trường cấp 1, cấp 2, cấp 3 trên địa bàn.</p>
                    <p>Gần sân bay Nội Bài, đường quốc lộ 5, đi vào trung tâm phố cổ chỉ mất 10 phút.</p>
                    <p>Các trung tâm hành chính: UBND quận Long Biên, trung tâm văn hóa Quận, Tòa án quận….</p>
                    <p>Chỉ mất vài phút để lên cầu Chương Dương, cầu Long Biên đi sang nội thành.</p>
                </div>

            </article>
        </div>

        <div id="main-sidebar" class="col-lg-3 col-md-3 col-sm-4 col-xs-12" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
            <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 1074.6px;">
                <aside id="recent-posts-with-image-2" class="widget widget_recent_post_with_image">
                    <h4 class="widget-title">TIN TỨC</h4><ul class="ul1">
                        <li class="clearfix">
                            <div class="post-thumbnail pr">
                                <a href="/vi-tri-du-an-khai-son-city-long-bien.html" class="titlehr">
                                    <img src="~/public/client/imgs/vi-tri-du-an-khai-son-city.jpg" width="85" height="85" alt="Vị Trí Dự Án Khai Sơn City Long Biên">
                                </a>
                            </div>
                            <div class="post-info">
                                <h4 class="entry-title">
                                    <a href="/vi-tri-du-an-khai-son-city-long-bien.html">Vị Trí Dự Án Khai Sơn City Long Biên</a>
                                </h4>
                                <div class="entry-meta" style="font-size: 13px;">
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="post-thumbnail pr">
                                <a href="/quy-hoach-quan-long-bien-trung-tam-thi-moi-cua-ha-noi.html" class="titlehr">
                                    <img src="~/public/client/imgs/quy-hoach.jpg" width="85" height="85" alt="Quy hoạch quận Long Biên: Trung tâm đô thị mới của Hà Nội">
                                </a>
                            </div>
                            <div class="post-info">
                                <h4 class="entry-title">
                                    <a href="/quy-hoach-quan-long-bien-trung-tam-thi-moi-cua-ha-noi.html">Quy hoạch quận Long Biên: Trung tâm đô thị mới của Hà Nội</a>
                                </h4>
                                <div class="entry-meta" style="font-size: 13px;">
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="post-thumbnail pr">
                                <a href="/tien-do-xay-dung-du-an-khai-son-city-long-bien.html" class="titlehr">
                                    <img src="~/public/client/imgs/tien-do-xay-dung.jpg" width="85" height="85" alt="Tiến độ xây dựng dự án Khai Sơn City Long Biên">
                                </a>
                            </div>
                            <div class="post-info">
                                <h4 class="entry-title">
                                    <a href="/tien-do-xay-dung-du-an-khai-son-city-long-bien.html">Tiến độ xây dựng dự án Khai Sơn City Long Biên</a>
                                </h4>
                                <div class="entry-meta" style="font-size: 13px;">
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="post-thumbnail pr">
                                <a href="/chinh-sach-uu-dai-thang-10-du-an-khai-son-city.html" class="titlehr">
                                    <img src="~/public/client/imgs/chinh-sach.png" width="85" height="85" alt="Chính Sách Ưu Đãi Tháng 10 Dự Án Khai Sơn City">
                                </a>
                            </div>
                            <div class="post-info">
                                <h4 class="entry-title">
                                    <a href="/chinh-sach-uu-dai-thang-10-du-an-khai-son-city.html">Chính Sách Ưu Đãi Tháng 10 Dự Án Khai Sơn City</a>
                                </h4>
                                <div class="entry-meta" style="font-size: 13px;">
                                </div>
                            </div>
                        </li>
                    </ul>
                </aside>

            </div>
        </div>

    </div>
</div>
