
@{
    ViewBag.Title = "Tiến độ xây dựng dự án Khai Sơn City Long Biên";
    ViewBag.Image = "/public/client/imgs/logo-khai-son.png";
    ViewBag.Keywords = "Dự án Khai Sơn Town | Công ty CP Khai Sơn và Công ty Cenland";
    Layout = "~/Views/Shared/_LayoutContents.cshtml";
}
<link href="~/public/client/css/contents.css" rel="stylesheet" />
<div class="container mt_50 mb_50" style="transform: none;margin-top:10px;">
    <div class="fl-row row right-sidebar" style="transform: none;">

        <div id="main-content" class="col-lg-9 col-md-9 col-sm-8 col-xs-12">

            <article id="post-775" class="single-post post-775 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc-du-an">
                <h4 class="post-category"><a href="/" title="Trang chủ" class="widget-title">Trang chủ</a></h4>
                <h1 class="post-title entry-title">
                    Tiến độ xây dựng dự án Khai Sơn City Long Biên
                </h1>
                <div class="entry-content mb_40">
                    <p><strong>Khai Sơn Town</strong> có tổng diện tích 20.390m2 với 210 căn nhà ở Shophouse nằm ngay cạnh hồ điều hòa. Diện tích căn hộ đa dạng từ 76,2m2 – 164m2 phù hợp với nhu cầu của khách hàng.</p>
                    <p><strong>Shophouse Khai Sơn Town</strong> có các diện tích từ : 76,2 – 84,5 – 88,8 – 90,2 – 93,2 – 99,2 – 102,6 – 130 – 164m2. Được chia làm 7 Town từ Town 2 – Town 8. Nhà phố Khai Sơn được xây cao 5 tầng và 1 tum.</p>
                    <p>Hai dãy Town 6 – 7 được xây dựng sớm nhất, hiện nay đang trong quá trình hoàn thiện. Đây sẽ là 2 phân lô được bàn giao đầu tiên của dự án. Thời gian bàn giao dự kiến là Quý III/2019.</p>
                    <p><img style="width:100%;height:100%" src="~/public/client/imgs/11.jpg" alt="Tiến độ xây dựng khai sơn city" width="1440" height="1080" srcset="~/public/client/imgs/11.jpg 1440w, ~/public/client/imgs/1-300x225.jpg 300w, ~/public/client/imgs/1-768x576.jpg 768w,~/public/client/imgs/1-1024x768.jpg 1024w" sizes="(max-width: 1440px) 100vw, 1440px"></p>
                    <p><img style="width:100%;height:100%" src="~/public/client/imgs/12.jpg" alt="Tiến độ xây dựng khai sơn city" width="1440" height="1080" srcset="~/public/client/imgs/12.jpg 1440w, ~/public/client/imgs//2-300x225.jpg 300w, ~/public/client/imgs/2-768x576.jpg 768w, ~/public/client/imgs/2-1024x768.jpg 1024w" sizes="(max-width: 1440px) 100vw, 1440px"></p>
                    <p><img style="width:100%;height:100%" src="~/public/client/imgs/13.jpg" alt="Tiến độ xây dựng khai sơn city" width="1440" height="1080" srcset="~/public/client/imgs/13.jpg 1440w, ~/public/client/imgs/3-300x225.jpg 300w, ~/public/client/imgs/3-768x576.jpg 768w, ~/public/client/imgs/3-1024x768.jpg 1024w" sizes="(max-width: 1440px) 100vw, 1440px"></p>
                    <p><img style="width:100%;height:100%" src="~/public/client/imgs/14.jpg" alt="Tiến độ xây dựng khai sơn city" width="1000" height="750" srcset="~/public/client/imgs/14.jpg 1000w, ~/public/client/imgs/4-300x225.jpg 300w, ~/public/client/imgs/4-768x576.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px"></p>
                    <p><img style="width:100%;height:100%" src="~/public/client/imgs/15.jpg" alt="Tiến độ xây dựng khai sơn city" width="1000" height="750" srcset="~/public/client/imgs/15.jpg 1000w, ~/public/client/imgs/5-300x225.jpg 300w, ~/public/client/imgs/5-768x576.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px"></p>
                </div>
            </article>
        </div>

        <div id="main-sidebar" class="col-lg-3 col-md-3 col-sm-4 col-xs-12" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
            <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 1074.6px;">
                <aside id="recent-posts-with-image-2" class="widget widget_recent_post_with_image">
                    <h4 class="widget-title">TIN TỨC</h4><ul class="ul1">
                        <li class="clearfix">
                            <div class="post-thumbnail pr">
                                <a href="/vi-tri-du-an-khai-son-city-long-bien.html" class="titlehr">
                                    <img src="~/public/client/imgs/vi-tri-du-an-khai-son-city.jpg" width="85" height="85" alt="Vị Trí Dự Án Khai Sơn City Long Biên">
                                </a>
                            </div>
                            <div class="post-info">
                                <h4 class="entry-title">
                                    <a href="/vi-tri-du-an-khai-son-city-long-bien.html">Vị Trí Dự Án Khai Sơn City Long Biên</a>
                                </h4>
                                <div class="entry-meta" style="font-size: 13px;">
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="post-thumbnail pr">
                                <a href="/quy-hoach-quan-long-bien-trung-tam-thi-moi-cua-ha-noi.html" class="titlehr">
                                    <img src="~/public/client/imgs/quy-hoach.jpg" width="85" height="85" alt="Quy hoạch quận Long Biên: Trung tâm đô thị mới của Hà Nội">
                                </a>
                            </div>
                            <div class="post-info">
                                <h4 class="entry-title">
                                    <a href="/quy-hoach-quan-long-bien-trung-tam-thi-moi-cua-ha-noi.html">Quy hoạch quận Long Biên: Trung tâm đô thị mới của Hà Nội</a>
                                </h4>
                                <div class="entry-meta" style="font-size: 13px;">
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="post-thumbnail pr">
                                <a href="/tien-do-xay-dung-du-an-khai-son-city-long-bien.html" class="titlehr">
                                    <img src="~/public/client/imgs/tien-do-xay-dung.jpg" width="85" height="85" alt="Tiến độ xây dựng dự án Khai Sơn City Long Biên">
                                </a>
                            </div>
                            <div class="post-info">
                                <h4 class="entry-title">
                                    <a href="/tien-do-xay-dung-du-an-khai-son-city-long-bien.html">Tiến độ xây dựng dự án Khai Sơn City Long Biên</a>
                                </h4>
                                <div class="entry-meta" style="font-size: 13px;">
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="post-thumbnail pr">
                                <a href="/chinh-sach-uu-dai-thang-10-du-an-khai-son-city.html" class="titlehr">
                                    <img src="~/public/client/imgs/chinh-sach.png" width="85" height="85" alt="Chính Sách Ưu Đãi Tháng 10 Dự Án Khai Sơn City">
                                </a>
                            </div>
                            <div class="post-info">
                                <h4 class="entry-title">
                                    <a href="/chinh-sach-uu-dai-thang-10-du-an-khai-son-city.html">Chính Sách Ưu Đãi Tháng 10 Dự Án Khai Sơn City</a>
                                </h4>
                                <div class="entry-meta" style="font-size: 13px;">
                                </div>
                            </div>
                        </li>
                    </ul>
                </aside>

            </div>
        </div>

    </div>
</div>
